
#wrap {
    width: 1400px;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
}
th , td{
    padding: 5px 0;
}

tr{
    border-bottom: 1px solid black;
}

