
#wrap {
    width: 1400px;
    text-align: center;
    justify-content: space-between;
    padding-top: 100px;
    margin: 0 auto;
}
#topPark > span{
    display: inline-block;
    border: 1px black solid;
    width: 10%;
    text-align: center;
    padding: 20px 0;
    margin: 10px;
}


.full{
    background-color: red;
}

.select{
    background-color: yellow;
}

#topPark{
    height: 500px;
}

#cNum , #fNum{
    border: 1px solid;
    margin: 10px;
}